/* Supernett Cn, Neue Heletica, FF Dot Matrix */

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
html{
    
    /* font-family: 'Raleway Dots', cursive; */
    font-family: 'Roboto Mono', monospace;
    overflow-y: hidden;
}

/* Navbar Functionality */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 60px;
}

body{
    width: 100%;
    height: fit-content;
    /* background: linear-gradient(black, #486fb0); */
    background: #282828;
    margin: 0 0 0 0;
    overflow-y: hidden;
}

/*Loading Screen*/
#loadBody{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Images/Banner2.PNG);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#codingSymbolDiv{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

#CodingSymbolSVG{
    height: 200px;
    width: 450px;
    margin: 0 auto;
    display: block;
    padding-top: calc(50vh - 200px);
}

#linesGoingDown{
    height: 70px;
    width: 40px;
    margin: 0 auto;
    display: block;
    padding-top: 36vh;
}

#pointDownArrow{
    animation-name: pointDownArrowAnim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes pointDownArrowAnim{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* Navbar Styling */
a{
    text-decoration: none;
    color: #FFFFFF;

}

#SideBar li{
    text-decoration: underline;
    font-size: 2vw;
    color: white;
    margin-bottom: calc(100vh / 5);
    margin-top: calc(100vh / 10);
    opacity: 0.5;
}

#SideBar{
    list-style-type: none;
    height: 100vh;
    width: fit-content;
    display: none;
    background-color: #171717;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

section{
    width: 100%;
    height: 100vh;
}

p{
    color: white;
    margin: 0 0 0 0;
}

/*Home Page Styling*/
#HomeID{
    width: 100%;
    height: fit-content;
    color: white;
}

.language{
    width: calc(100vw / 15);
    height: calc(100vw / 15);
}

.language:hover{
    width: calc(100vw / 12);
    height: calc(100vw / 12);;
}

#languageDiv{
  overflow-x: hidden;
  white-space: nowrap;
  

}

#LineSVGForPortfolio{
    height: fit-content;
    width: 100%;
    margin-top: 100px;
    margin-left: 10%;
    
}

#BracketPortfolioSVG{
    height: fit-content;
    width: 100%;
}

.portfolioImages{
    filter:url(#shadow);
}

.portfolioImages:hover{
    filter:url(#blueTechFilter);
}